<div class="hero-unit">
<h1>Welcome to the Awesome App!!!</h1>
<p>
	You've found the homepage for the awesome app <%= link_to "Tyler Brooks' Page", "http://tylerbrooks.me" %>
</p>
<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>